.container {
    background-color: #2b2b2b;
    border-bottom: 1px solid var(--amber);
}

.mainHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
}

.leftHead {
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    grid-column: 2;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.rightHead {
    grid-column: 3;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.links {
    color: var(--silver);
}

.links:hover {
    color: var(--amber);
    cursor: pointer;
}

